<h1>Here is a list of users: </h1>
<ul>
  <% @users.each do |user| %>
    <%# User Card with Picture %>
    <li>
      <div class="user_container">
        <div class="user_image">
          <%= image_tag user.photo %>
        </div>
        <div class="user_content">
          <h1><%= user.name %></h1>
          <p>Number of posts: <%= user.posts_counter %></p>
          <div class="card-action">
          <%= link_to "View Profile", user_path(user) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
